.container {
    flex: 1;
    margin-top: 100px;
    margin-left: 3.75%;
    margin-right: 3.75%;
}

.title {
    font-size: 44px;
    color: #000;
    text-align: left;
    font-family: 'Raleway';
    font-weight: 700;
    float: left;
}

.login_container {
    margin-top: 100px;
    height: 100%;
    align-content: center;
   /*background-image: url("../images/login.jpg");
    background-size: cover;*/
}

.profile_container {
    margin-left: 3.75%;
    margin-right: 3.75%;
    margin-top: 115px;
    height: 100%;
   /*background-image: url("../images/login.jpg");
    background-size: cover;*/
}

.login {
    font-size: 44px;
    color: #000;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 700;
    margin-bottom: 30px;
}

.profile {
    font-size: 44px;
    color: #000;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 700;
    margin-bottom: 20px;
}

option {
    font-size: 14px;
    color: #000;
    font-family: 'Inter';
    font-weight: 500;
}

select {
    padding: 3px;
    padding-left: 5px;
    border-radius: 50px;
    border-width: 1.75px;
    font-size: 14px;
    color: #000;
    font-family: 'Inter';
    font-weight: 500;
    margin: 10px 10px;
}


form {
    font-family: 'Inter', sans-serif;
    height: 100%;
    text-align: center;
}

.form_container {
    text-align: left;
}

input[type="login"] {
    margin: 6px 0px;
    background: white;
    padding: 10px;
    padding-left: 13px;
    border-radius: 50px;
    border-width: 1.75px;
    border-color: black;
    width: 200px;
    font-family: 'Inter';
    font-size: 15px;
}

input[type="password"] {
    margin: 6px 0px;
    background: white;
    padding: 10px;
    padding-left: 13px;
    border-radius: 50px;
    border-width: 1.75px;
    border-color: black;
    width: 200px;
    font-family: 'Inter';
    font-size: 15px;
}

input[type="profile"] {
    margin: 10px 0px;
    background: white;
    padding: 10px;
    padding-left: 13px;
    border-radius: 50px;
    border-width: 1.75px;
    border-color: black;
    width: 250px;
    font-family: 'Inter';
    font-size: 15px;
}

input[type="submit"] {
    background-color: #FFA500;
    color: #000;
    font-family: 'Alexandria', sans-serif;
    font-weight: 400;
    width: auto;
    font-size: 15px;
    padding: 10px 16px;
    border-radius: 30px;
    border-width: 0px;
    margin: 15px 0px;
    cursor: pointer;
}

input[type="button"] {
    background-color: #FFA500;
    color: #000;
    font-family: 'Alexandria', sans-serif;
    font-weight: 400;
    width: auto;
    font-size: 15px;
    padding: 10px 16px;
    border-radius: 30px;
    border-width: 0px;
    margin: 0px 10px;
    align-content: left;
    cursor: pointer;
}

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: underline; 
}

a:active { 
    text-decoration: underline; 
}