
.title {
    font-size: 44px;
    color: #000;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    float: left;
    margin-right: 30px;
}

.summary {
    font-size: 20px;
    color: #000;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    float: left;
    margin-right: 50%;
}

img {
    float: left;
}

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: underline; 
}

a:active { 
    text-decoration: underline; 
}