
.recipe_title {
    font-size: 44px;
    color: #000;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.sum_img {
    display: flex;
    align-items: center;
    width: 85%;
    margin-bottom: 30px;
}

.summary_container {
    flex: 1;
    width: 100%;
}

.summary {
    font-size: 17px;
    color: #000;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    float: left;
    margin-right: 50px;
}

img {
    float: right;
}

.ingredients {
    font-size: 17px;
    color: #000;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    float: left;
    margin-right: 50px;
}

.directions {
    font-size: 17px;
    color: #000;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    float: left;
    margin-right: 50px;
}
