.menu {
    flex: 1;
    margin-top: 10px;
    margin-left: 20px;
    width: 80%;
}

.selection {
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin-bottom: 10px;
}
