.recipe_container {
    object-fit: cover;
    margin-top: 30px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
}

.recipe_grid {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 5%;
}

.recipe_img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 12px;
}

.recipe {
    display: block;
    text-align: left;
    padding: 15px 15px;
    width: 90%;
    text-decoration: none;
}

.recipe_details {
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 85%;
}

.name {
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 110%;
    margin-bottom: 12px;
}

.feed {
    display: grid;
}