
.login_background {
    height: 100vh;
    background-image: url("../images/login.jpg");
    background-size: cover;
}

.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
    
}

.login_title {
    position: absolute;
    top: 90px;
    display: flex;
    width: 300px;
    height: 52px;
    justify-content: center;
    align-items: center;
}

.login_container {
    text-align: center;
    border-radius: 50px;
    width: 350px;
    padding: 50px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FDFDFD;
}

.login {
    font-size: 42px;
    color: #000;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 700;
    margin-bottom: 30px;
}

input[type="login"] {
    margin: 6px 0px;
    background: white;
    padding: 10px;
    padding-left: 13px;
    border-radius: 50px;
    border-width: 1.75px;
    border-color: black;
    width: 200px;
    font-family: 'Inter';
    font-size: 15px;
}

input[type="password"] {
    margin: 6px 0px;
    background: white;
    padding: 10px;
    padding-left: 13px;
    border-radius: 50px;
    border-width: 1.75px;
    border-color: black;
    width: 200px;
    font-family: 'Inter';
    font-size: 15px;
}