.profile_container {
    height: 100%;
    margin-left: 8%;
   /*background-image: url("../images/login.jpg");
    background-size: cover;*/
}
 
.profile_title {
    font-size: 28px;
    color: #000;
    text-align: left;
    font-family: 'Raleway';
    font-weight: 600;
    margin-bottom: 20px;
}
 
.saved_title {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 600;
    float: left;
    margin-right: 5px;
}
 
.saved_info {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
}
 
.saved_bio {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    width: 325px;
}
 
.list_info {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
}
 
ul {
    margin: 3px;
}
 
.sub_title {
    font-size: 24px;
    color: #000;
    text-align: left;
    font-family: 'Raleway';
    font-weight: 600;
    margin-bottom: 20px;
}
 
.option_title {
    font-size: 20px;
    color: #000;
    text-align: left;
    font-family: 'Raleway';
    font-weight: 600;
    margin-bottom: 8px;
}
 
option {
    font-size: 16px;
    color: #000;
    font-family: 'Inter';
    font-weight: 500;
}
 
select {
    padding: 3px;
    padding-left: 5px;
    border-radius: 20px;
    border-width: 1.75px;
    font-size: 14px;
    color: #000;
    font-family: 'Inter';
    font-weight: 500;
    margin: 10px 10px;
}
 
input[type="profile"] {
    margin: 0px 0px 20px 0;
    background: white;
    padding: 10px;
    padding-left: 13px;
    border-radius: 50px;
    border-width: 2px;
    border-color: #A6A6A6;
    border-style: solid;
    width: 300px;
    font-family: 'Inter';
    font-size: 15px;
    outline: none;
}
 
input[type="profile"]:focus {
    border: 2px solid gray;
  }
 
textarea[type="bio"] {
    margin: 0px 0px 20px 0px;
    margin-bottom: 15px;
    background: white;
    padding: 10px;
    padding-left: 13px;
    border-radius: 20px;
    border-width: 2px;
    border-color: #A6A6A6;
    border-style: solid;
    width: 300px;
    height: 200px;
    font-family: 'Inter';
    font-size: 15px;
    outline: none;
}
 
input[type="bio"]:focus {
    border: 2px solid gray;
}
