.recipe_page {
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 3.75%;
    margin-right: 3.75%;
    text-align: center;
    background-color: white;
}

.recipe_title {
    font-size: 44px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    float: center;
    margin-bottom: 0px;
    background-color: white;
}

/*.sum_img {
    display: inline-block;
    align-items: center;
    margin-bottom: 30px;
}*/

.text_container {
    width: 50%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.summary {
    font-size: 18px;
    color: #000;
    text-align: left;
    font-family: 'Alexandria', sans-serif;
    font-weight: 400;
    float: left;
    background-color: white;
}

.part_title {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
}

.recipe_page img {
    margin: 30px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border-radius: 20px;
}