
input[type="search"] {
    margin: 7px 0px;
    margin-left: -1000px;
    background: white;
    padding: 10px;
    padding-left: 13px;
    border-radius: 50px;
    border-width: 2px;
    border-color: black;
    width: 30%;
    font-family: 'Inter';
    font-size: 15px;
}

input[type="image"] {
    margin-left: -44px;
    margin-bottom: -10px;
    width: 22px;
    background: white;
    padding: 5px;
}