
input[type="search"] {
    margin: 7px 0px;
    margin-left: 50px;
    background: white;
    padding: 10px;
    padding-left: 13px;
    border-radius: 50px;
    border-width: 2px;
    border-color: black;
    width: 30%;
    font-family: 'Inter';
    font-size: 15px;
    float: left;
}

input[type="image"] {
    float: left;
    margin-left: -44px;
    margin-top: 12px;
    align-items: center;
    width: 22px;
    background: white;
    padding: 5px;
}